body, html {
background-color: #D12C40;
}
h1, h2, h3, p {
    text-align: center;
    color: #fff;
}
.ButtonHolder {
    text-align: center;
}
hr.solid {
    border-style: solid;
    border-color: #fff;
    border-width: 5px 0 0 0;
}
.PlayButton {
    margin: 30px;
    background-color: #6CBA30;
    border: 1px solid rgba(1, 1, 1, 0.5);
    border-radius: 32px;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    line-height: 20px;
    padding: 18px 48px;
}
.PlayButton:hover {
    background-color: #2c974b;
}
.choice {
display: block;
margin: 10px
}
